Repository TejasS1233/TAIL.ai, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, frontend, backend, documentation, config, ci/cd

Added scroll bars to the left and the right pane both in dark and light modes
  client/jsconfig.json
  client/src/index.css
  client/src/pages/WorkflowComposer.jsx
Labels: frontend

fix/console-transport-and-workflow-canvas
  client/src/pages/WorkflowComposer.jsx
Labels: frontend

Refactor login and Google authentication logic
  client/src/pages/Login.jsx
Labels: frontend

feat(workflow): implement and polish minimap navigation
  client/jsconfig.json
  client/src/components/MiniMap.jsx
  client/src/pages/WorkflowComposer.jsx
  package-lock.json
Labels: frontend

enhance: improve greeting workflow and messages
  .github/workflows/greetings.yml
Labels: ci/cd

added issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, ci/cd

corrected contributing.md link
  .github/workflows/greetings.yml
Labels: ci/cd

Testing issues fixed.
  client/src/components/ThemeProvider.jsx
  client/src/components/blocks/Dashboard/MapView.jsx
  client/src/components/blocks/Dashboard/Reports.jsx
  client/src/context/AuthContext.jsx
  client/src/utils/useAuth.js
Labels: frontend

chore: add pre-commit hooks for code quality (Hacktoberfest 2025)
  .pre-commit-config.yaml
Labels: none

Navbar issue fixed.
  client/src/pages/Playground.jsx
  client/src/pages/WorkflowComposer.jsx
Labels: frontend

components.md added
  docs/components.md
Labels: documentation

ci(workflow): use Node 20, add cache and resilient install
  .github/workflows/nodejs-ci.yml
Labels: ci/cd

ci: two-job workflow (server+client), Node 20, cache, conditional install, smoke test and client build
  .github/workflows/nodejs-ci.yml
Labels: ci/cd

fix(db): make MongoDB connection non-fatal in dev/demo so server can start without local Mongo
  server/src/db/index.js
Labels: backend

fix: align server port to 8002, add health endpoint alias, update CI workflow, and add local dev docs
  .github/workflows/nodejs-ci.yml
  DEV-SETUP.md
  docker-compose.yml
  scripts/start-server-demo.ps1
  scripts/stop-server-demo.ps1
  server/package.json
  server/src/app.js
  server/src/index.js
  server/src/models/user.model.js
Labels: docker, backend, documentation, config, ci/cd

Add Readme Banner inside new directory ReadmeBanner
  ReadmeBanner/Tail.aiBanner.png
Labels: none

update readme with banner .
  README.md
Labels: documentation

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

.github/labeler.yml:

# Automatically label PRs based on changed files

docker:
  - changed-files:
    - any-glob-to-any-file: 
      - 'Dockerfile'
      - 'docker-compose.yml'
      - '.dockerignore'
      - '**/Dockerfile'

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'server/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '**/.env.example'
      - '**/package.json'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
